body{
	margin: 10px;
}

header{
	background-color: #579c87;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

img.logo{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
}

a{
	text-decoration: none;
}

img{
	width: 50%;
}

h1{
	text-align: center;
	font-family: 'Dancing Script', cursive;
	font-size: 30px;
	background: -webkit-linear-gradient(left, #0228dd, #229df9);
  	-webkit-background-clip : text;
  	-webkit-text-fill-color : transparent;
}

h2{
	font-family: 'Shadows Into Light', cursive;
	font-size: 20px;
}

p{
	font-family: 'Shadows Into Light', cursive;

}

section.cadre{
	background-color: #edefef;
	margin: 20px 20px 20px 20px;
	padding: 20px 0px 10px 0px;
	text-align: center;
}

ul{
	list-style-type: none;
	padding-left: 10px;
	padding-right: 10px;
}

li{
	display: flex;
	text-align: justify;
	display: flex;
	width: 100%;
}

p.plat{
	width: 80%;
}

p.prix{
	width: 20%;
	text-align: right;
}

footer.pieddepage{
	display: flex;
	width: 100%;
	font-size: 20px;
	background: #579c87;
	color: #fdcb46;
}

div.mentionslegales{
	width: 50%;
}

p.mentionslegales{
	margin-left: 10px;
}

div.mail{
	width: 50%;
	text-align: right;
}

p.mail{
	margin-right: 10px;
	color: #fdcb46; 
}