html{
	height: 100%;
}

body{
	margin: 10px;
	bottom: 0;
	position: relative;
}

header{
	background-color: #579c87;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

img.logo{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
}

img.ligne{
	width: 50%;
}

a{
	text-decoration: none;
}

h1.titre{
	text-align: center;
}

h2.titre{
	text-align: center;
	font-family: 'Kaushan Script', cursive;
	font-size: 40px;
	background: -webkit-linear-gradient(left, #3d923a, #beff7f);
  	-webkit-background-clip : text;
  	-webkit-text-fill-color : transparent;
}

h3{
	font-family: 'Architects Daughter', cursive;
	font-size: 20px;
}

p.plat{
	font-family: 'Architects Daughter', cursive;
	width: 80%;
}

section.cadre{
	background-color: #fdfffd;
	margin: 20px 20px 20px 20px;
	padding: 20px 0px 10px 0px;
	text-align: center;
}

ul{
	list-style-type: none;
	padding-left: 10px;
	padding-right: 10px;
}

li{
	display: flex;
	text-align: justify;
	display: flex;
	width: 100%;
}

p.prix{
	width: 20%;
	text-align: right;
}

footer.pieddepage{
	display: flex;
	width: 100%;
	font-size: 20px;
	background: #579c87;
	color: #fdcb46;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

div.mentionslegales{
	width: 50%;
}

p.mentionslegales{
	margin-left: 10px;
}

div.mail{
	width: 50%;
	text-align: right;
}

p.mail{
	margin-right: 10px;
	color: #fdcb46; 
}

@media only screen and (min-width: 960px){

	div.lignes{
		display: flex;
		width: 100%;
	}

	img.ligne{
		width: 35%;
		height: 20px;
		padding-top: 20px;
	}
	
	section.cadre{
	padding: 30px 30px 10px 30px;
	}

	h2.titre{
	font-size: 35px;
	}	

	h3.ligne{
	width: 30%;
	font-size: 20px;
	}

	div.fin{
	padding-top: 20px;
	}