body{
	margin: 10px;
}

header{
	background-color: #579c87;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

img.logo.ohmyfood{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
}

a{
	text-decoration: none;
}

article.menu1{
	background-color: #fcdfdb;
	margin: 20px 50px 20px 50px;
	padding: 150px 0px 150px 0px;
	text-align: center;
}

article.menu2{
	background-color: #fff5fe;
	margin: 20px 50px 20px 50px;
	padding: 150px 0px 150px 0px;
	text-align: center;
}

article.menu3{
	background-color: #f9f9f9;
	margin: 20px 50px 20px 50px;
	padding: 150px 0px 150px 0px;
	text-align: center;
}

article.menu4{
	background-color: #fdfffd;
	margin: 20px 50px 20px 50px;
	padding: 150px 0px 150px 0px;
	text-align: center;
}

p.bouton{
	text-align: center;
	font-size: 30px;
	color:  #fdcb46;
	background-color: #579c87;
	border: 2px solid #579c87;
	border-radius: 10px;
	width:60%;
	margin-left: auto;
	margin-right: auto;
	padding: 5px 0px 5px 0px;
}

footer.pieddepage{
	display: flex;
	width: 100%;
	font-size: 20px;
	background: #579c87;
	color: #fdcb46;
}

div.mentionslegales{
	width: 50%;
}

p.mentionslegales{
	margin-left: 10px;
}

div.mail{
	width: 50%;
	text-align: right;
}
p.mail{
	margin-right: 10px;
	color: #fdcb46; 
}